RewriteEngine On


# Add other exceptions for files if needed, e.g., login.php, profile.php
# RewriteCond %{REQUEST_URI} ^/kookproject/anotherfile\.php [NC]
# RewriteRule ^(.*)$ - [L]

# Redirect everything else except specific static files to routes.php
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf)$
RewriteRule (.*) index.php [QSA,L]
