nav{
    display: flex;
    background-color: #5A94FF;
    justify-content: space-between;
    padding: 0px 18px ;

    a:hover{ 

            background-color: #196aff;

    }

    div, ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 6px;
    }

    img{ 
        height: 3.8rem;
        width: auto;
        }

    ul > a {
        align-items: center;
        font-weight: bold;
        display: flex;
        height: 100%;
        padding: 0px 8px; 
    }


}